# .gitignore
/vendor
/node_modules
/.vscode
/.idea
/.env
/.phpunit.result.cache
/storage/*.key
/public/storage
/homestead.yaml
/.sass-cache
/.cache
.DS_Store
npm-debug.log
yarn-error.log
.env.local
.env.testing
